<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Base</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<nav class = "navbar navbar-expand-lg navbar-light bg-light">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="navbar-brand" href="{% url 'basic_app:list' %}">Schools</a></li>
						<li class="nav-item active"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
						<li class="nav-item active"><a class="nav-link" href="#"></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>
